<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string><![CDATA[http://scapp.ihezhang.com:8089/static/action/Update?action=down&attachid=8ae6d886632499e5016339a2c7a100cd&download=1]]></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zxmoa.scyb</string>
				<key>bundle-version</key>
				<string>2.2.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>河长制云平台</string>
				<key>title</key>
				<string>河长制云平台</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
