<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string><![CDATA[http://sx.ihezhang.com:8089/static/action/Update?action=down&attachid=5a4dfbfe5cd4c26e015cd4e5664d09c5&download=1]]></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zxmoa.hztSX</string>
				<key>bundle-version</key>
				<string>2.1.22</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>绍兴河长通</string>
				<key>title</key>
				<string>绍兴河长通</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
