<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string><![CDATA[http://sxhz.ihezhang.com:18089/static/action/Update?action=down&attachid=5a4dfb9262bd4b980163cd7c27cd16c9&download=1]]></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zxmoa.sxhzHZT</string>
				<key>bundle-version</key>
				<string>2.1.29</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>汉中河长制</string>
				<key>title</key>
				<string>汉中河长制</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
