<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string><![CDATA[http://ahhsq.ihezhang.com:8088/static/action/Update?action=down&attachid=2c9e8c4662f048390162f122f49f001f&download=1]]></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zxmoa.ahhshs</string>
				<key>bundle-version</key>
				<string>2.1.28</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>黄山河长制</string>
				<key>title</key>
				<string>黄山河长制</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
